/* Write your CSS here! */
body {
  margin: 8px;
  
  padding: 200px;
  display: block;
  
}

body {
   main,ul,h1,h3 {
    background-color: rgb(243, 236, 194);
   }
        background-color: rgb(96, 199, 247);
        background-size: cover;

    
  .funParagraph {
            color: green;
        }
figure {
    display: block;
    text-align: center;
}


    }


#mainheading {
    color: red; 
    font-size: large; 
    text-align: center;
}